

.nav-deets{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}

.main-container{
    background-color: white;
}

.card-image{
    width: 20%;
}

.about-me{
    width: 90%;
    margin: auto;
}

.big-link{
    color: magenta !important;
}

.card-one-container{
    margin: auto ;
}

.project-links{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 10%;
}

.first-link{
    padding-left: 60%;
    padding-right: 5%;
}

.project-pics{
    display: flex;
    
}